body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
  }
    
  header {
    background-color: #a8b401;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  #titulos img {
    max-width: 100%;
    height: auto;
  }
  
  h1.superior {
    margin-top: 10px;
  }
  
  main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(14, 14, 14, 0.1);
  }
  
  section {
    margin-bottom: 20px;
  }
  
  article {
    margin-bottom: 20px;
  }
   
  ol {
    margin-left: 20px;
    list-style-type: decimal;
  }

  ul {
    margin-left: 20px;
    list-style-type: disc;
  }

  h2{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }

  h3{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #contenedor {
    display: flex;
    justify-content: space-around;
    
  }
  
  .cards {
    text-align: center;
    width: fit-content;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    gap: 1em;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }

  .cards:hover{
    background-color: yellow;
  }
  
  .logo {
    max-width: 250px;
    height: auto;
  }

  .superior{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
  }
  